* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Microsoft Yahei', sans-serif;    
}

a {
    text-decoration: none;
}

.ovhd {
    overflow: hidden;
}
.w4 {
    width: 40%;
}
.w6 {
    width: 60%;
}
.bd {
    max-width: 960px;
    min-width: 320px;
    margin: auto;
}
.post {
    position: static;
}
.butline2 {
    border-bottom: 2px solid indianred;
}

/* 
@media only screen and (min-width: 1170px) {
    .nav img{
        display: inline;
    }
    .top_nav .navt{
        margin-right: 15rem;
        margin-top: 1rem;
    }
    .top_nav .navo a img{
        margin-left: 13rem;
        margin-top: 1rem;
    }
}  */
